<form (ngSubmit)="search()">
    <div class="form-group">
        <label for="search_title">Title</label>
        <input type="text"
               id="search_title"
               name="search_title"
               class="form-control"
               [(ngModel)]="form.data.title" />
    </div>

    <div class="form-group">
        <label>Author</label>

        <div *ngIf="authors.data.length === 0">
            <select2 #selectSearchAuthor
                     id="search_author"
                     name="search_author"
                     [options]="authors.options"
                     [disabled]="authors.disabled">
                <option></option>
            </select2>
        </div>

        <div *ngIf="authors.data.length > 0">
            <select2 #selectSearchAuthor
                     [data]="authors.data"
                     [disabled]="authors.disabled" 
                     [options]="authors.options"
                     (valueChanged)="eventChangeSelect($event, 'author')">
                <option></option>
            </select2>
        </div>
    </div>

    <div class="form-group">
		<button type="submit"
				class="btn btn-primary">
			Buscar
		</button>
		&nbsp;&nbsp;
		<button type="reset"
				(click)="clearForm()"	
				class="btn btn-secondary">
			Limpiar
		</button>
	</div>
</form>