<h1>Datatables demo</h1>
<hr />

<app-datatables-form 
    (cambioValor)="reloadData($event)"></app-datatables-form>

<form (ngSubmit)="reloadData(true)">
    <div class="form-group">
        <label for="search_title">Title</label>
        <input type="text"
               id="search_title"
               name="search_title"
               class="form-control"
               [(ngModel)]="form.data.title" />
    </div>

    <div class="form-group">
        <label>Author</label>

        <div *ngIf="authors.data.length === 0">
            <select2 #selectSearchAuthor
                     [options]="select2Options"
                     [disabled]="authors.loading">
                <option></option>
            </select2>
        </div>

        <div *ngIf="authors.data.length > 0">
            <select2 #selectSearchAuthor
                     [data]="authors.data"
                     [disabled]="authors.loading" 
                     [options]="select2Options"
                     (valueChanged)="eventChangeSelect($event, 'author')">
                <option></option>
            </select2>
        </div>
    </div>

    <div class="form-group">
		<button type="submit"
				class="btn btn-primary">
			Buscar
		</button>
		&nbsp;&nbsp;
		<button type="reset"
				(click)="clearForm()"	
				class="btn btn-secondary">
			Limpiar
		</button>
	</div>
</form>

<div class="card card-datatables">
    <div class="card-header">
        <div class="float-left">
            <h5>Featured</h5>
        </div>
        <div class="float-right">
            <div class="float-left">
                <button type="button"
                        class="btn btn-success mr-3">
                    Create
                </button>
            </div>

            <div class="float-left dt-select-length">

            </div>
        </div>
    </div>
    <div class="card-body">
        <table 
               #dataTable 
               id="dt-example" 
               class="table table-striped table-bordered" style="width:100%"></table>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-md-5 col-sm-12 dt-info-results"></div>
            <div class="col-md-7 col-sm-12 dt-pagination"></div>
        </div>
    </div>
</div>
