<button type="button" class="btn btn-primary mr-4" (click)="showProducts()">
    {{ 'ver productos' | capitalize }}
</button>

<button type="button" class="btn btn-warning mr-4" (click)="showCities()">
VER CIUDADES
</button>

<button type="button" class="btn btn-secondary mr-4" (click)="showCUPSValidate()">
    VALIDAR CUPS
</button>

<button type="button" class="btn btn-success mr-4" (click)="showCUPSByAddress()">
    VALIDAR CUPS POR DIRECCIÓN
</button>

<button type="button" class="btn btn-danger" (click)="showAlert()">
    MOSTRAR ALERTA
</button>